@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #e8ffe8;
    transform-origin: bottom;
    overflow: hidden;
}

.tree {
    position: relative;
    top: -150px;
    transform-style: preserve-3d;
    animation: animate 16s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotateX(-20deg) rotateY(360deg);
    }
    100% {
        transform: rotateX(-20deg) rotateY(0deg);
    }
}

.tree::before {
    content: 'WASI is Wishing U';
    position: absolute;
    color: crimson;
    font-family: 'Oswald', sans-sarif;
}

.tree div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.tree div.top span {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #69c069, #77dd77);
    transform-origin: bottom;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    border-bottom: 10px solid #00000019;
}

.tree div.bottom span {
    position: absolute;
    left: calc(50% - 30px);
    background: linear-gradient(90deg, #bb4622, #df7214);
    border-bottom: 10px solid #0005;
}

.shadow {
    position: absolute;
    background: #0002;
    transform-style: preserve-3d;
    transform: rotateX(90deg) translateZ(-500px);
    filter: blur(20px);
}

.tree div.text span {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: bottom;
    border-bottom: 10px solid #00000019;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #ff4242;
    font-family: 'Oswald', sans-sarif;
    text-transform: uppercase;
    line-height: 1em;
    -webkit-text-stroke: 3px #fff;
    font-weight: 700;
    transform-style: preserve-3d;
}

.tree div.text span::before {
    content: attr(data-text);
    position: absolute;
    bottom: 7px;
    transform-origin: bottom;
    transform: rotateX(-90deg);
    -webkit-text-stroke: 0px #fff;
    color: rgba(0, 0, 0, 0.1);
    filter: blur(5px);
}

@media (min-width: 100px) and (max-width: 800px) {
    .tree {
        width: 180px;
        height: 120px;
    }
    .tree::before {
        top: -65px;
        font-size: 1em;
        left: calc(50% - 55px);
    }
    .tree div {
        transform: translateY(calc(70px * var(--j)));
    }
    .tree div.top span {
        width: 92%;
        height: 100%;
        transform: rotateY(calc(90deg * var(--i))) rotateX(43deg) translateZ(112px);
    }
    .tree div.bottom span {
        top: 240px;
        width: 40px;
        height: 100%;
        transform: rotateY(calc(90deg * var(--i))) translateZ(20px);
    }
    .shadow {
        top: -240px;
        left: -20px;
        width: 200px;
        height: 200px;
    }
    .tree div.text span {
        top: 220px;
        left: 0;
        font-size: 4em;
        transform: rotateY(calc(90deg * var(--i))) translateZ(103px);
    }
    .tree div.text span:nth-child(1) {
        font-size: 4em;
    }
    .modal {
        width: max-content;
        height: max-content;
        font-size: 3vw;
    }
    .modal p {
        font-weight: 700;
    }
}

@media (min-width: 800px) and (max-width: 1600px) {
    .tree {
        width: 300px;
        height: 300px;
    }
    .tree::before {
        top: -80px;
        font-size: 1.5em;
        left: calc(50% - 75px);
    }
    .tree div {
        transform: translateY(calc(100px * var(--j)));
    }
    .tree div.top span {
        width: 100%;
        height: 100%;
        transform: rotateY(calc(90deg * var(--i))) rotateX(30deg) translateZ(173px);
    }
    .tree div.bottom span {
        top: 350px;
        width: 60px;
        height: 100%;
        transform: rotateY(calc(90deg * var(--i))) translateZ(30px);
    }
    .shadow {
        top: 0;
        left: 0;
        width: 300px;
        height: 300px;
    }
    .tree div.text span {
        top: 350px;
        left: 0;
        font-size: 8em;
        transform: rotateY(calc(90deg * var(--i))) translateZ(173px);
    }
    .tree div.text span:nth-child(1) {
        font-size: 6em;
    }
    .modal {
        width: 50%;
        height: max-content;
        font-size: 1em;
    }
}

.modal-container {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    transition: opacity 4s ease-in-out;
}

.modal {
    text-align: center;
    background: #fff;
    margin: 30px;
    padding: 10px 20px;
    font-family: 'Poppins', sans-sarif;
    letter-spacing: 1px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 4s ease-in-out;
}

.modal p {
    margin: 10px;
    opacity: 0.7;
    text-align: left;
}

.btn {
    margin: 10px;
    padding: 10px 20px;
    color: #fff;
    background: #69c069;
    font-size: 1em;
    letter-spacing: 1px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
